#Blogs_sec .blog-title {
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    color:#aa1f23;
}

#Blogs_sec{
    background: linear-gradient(to top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 1)),url('../images/blue\ see.png') no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-top: 70px;
}

#Blogs_sec .content_parts{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#Blogs_sec .container h2{
    font-size: 36px;
}


#Blogs_sec  .swiper-pagination{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    
}
#Blogs_sec .swiper-pagination div{ 
    position:relative;
    background: #a30a0f;
    height: 20px;
    width: 25px;
    border-radius: 2px;
    
}
#Blogs_sec .swiper-pagination button{
    height: 15px;
    width: 15px;
} 

#Blogs_sec .card {
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    overflow: hidden;
    /* border: 2px solid rgb(0, 0, 0); */
}

#Blogs_sec .slider-content{
    /* border: 2px solid rgb(0, 0, 0); */
    margin:auto;
    
}
#Blogs_sec  img {
    height: 200px;
    object-fit: cover;
}

#Blogs_sec .date-badge {
    background-color: #aa1f23;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    position: absolute;
    transform: rotate(-90deg);
    top: 85px;
    left: -45px;
    border-radius: 3px;
}

#Blogs_sec .card-body{
    padding: 30px;
}

#Blogs_sec .card-title {
    font-weight: bold;
    font-size: 25px;
}

#Blogs_sec .card-text{
    margin-top: 10px;
}

#Blogs_sec .read-more {
    color: #aa1f23;
    text-decoration: none;
}

#Blogs_sec .read-more:hover {
    text-decoration: underline; 
}

#Blogs_sec .see_more{
    background: #aa1f23;
    width:100px;
    color: azure;
}

#Blogs_sec .card-wrapper {
    margin: 0 60px 35px;
    padding-top: 70px;
    overflow: hidden;
    max-width: 1200px;
  }

  #Blogs_sec .card-list .card-item {
    list-style: none;
    box-shadow:0px 2px 2px  rgba(0, 0, 0, 0.6);
  }


  #Blogs_sec .card-wrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background: #5372F0;
  }


  #Blogs_sec .card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
  }



#Blogs_sec .slider_buttons_blogs{
    position: absolute;
    display: flex;
    gap: 20px;
    right: 90px;
    top: 85px;
    
}
#Blogs_sec .slider_buttons_blogs .swiper-button-next,
#Blogs_sec .slider_buttons_blogs .swiper-button-prev {
    overflow: hidden;
    color: #7d7878; 
}
#Blogs_sec .slider_buttons_blogs .swiper-slide-button {
    width: 20px; 
    height: 20px;
    
    
    
  }



  
  
  @media (max-width: 768px) {
    #Blogs_sec .card-wrapper {
      margin: 0 10px 25px;
    }
    #Blogs_sec .card-wrapper .swiper-slide-button {
      display: none;
    }
  }