
/* head section */
.head {
    position: relative;
    height: 100vh;
    background: url('../images/churchcross.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.overlay::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.content{
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content i {
    font-size: 40px;
    margin-bottom: 10px;
}

.head .content p{
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
    max-width: 600px;
    letter-spacing: 1.5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.head .content h1{
    font-size: 65px;
    color: #aa1f23;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
}
.head .content span{
    font-style: italic;
    font-weight: 100;
    margin-top: 8px;
    font-size: 16px;
}

/* Social Sidebar */
.social-sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #5c0d0d;
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-sidebar a {
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
    font-size: 18px;
}