/* body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfdfd;
  } */
  
  #landingContent .hymn-lyrics p {
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
  
  #landingContent mark {
    background-color: #dbe9f8;
    padding: 0 4px;
    border-radius: 4px;
  }
  
  #landingContent{
  margin: 80px 200px 0 200px;
  }

  #landingContent .landingPageCover{
    max-width:100% !important;

  }