
/* Header section */
.language-header {
  background: url('../images/church-worship-concept-christian-raised-600nw-1830273455.webp') no-repeat center center/cover;
  height: 90vh;
  position: relative;
  z-index: 0;
 
}
#language-section-part .language-header::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

#language-section-part .language-header .overlay {
  font-family: 'DM Serif Display', serif;
  color: #fff;
  max-width: 90%;
  z-index: 2;
  
}

/* Language section */
#language-section-part .language-section {
  background: linear-gradient(to bottom, #ffffff, #b9a6a0);
  height: fit-content;
}

.language-section .container{
  margin: auto;
  padding-left: 40px;
  width: fit-content;
 
  
}
.language-section .container .row{
 
  position:relative;
  
  

  
}
.language-section .container .row div{
  background-color: #486b6f;
  /* margin-left: 20px; */
  height: 200px;
  width: 320px;
  border-radius: 20px;
  padding-left: 0;
  
  border: 0.1px solid #687d80;
  z-index: 2;
}

.language-section .container .row .first_child::after{
  content: "";
  position: absolute;
  background-image: url(../images/first.png);
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
  opacity: 40%;
}

.language-section .container .row .second_child::after{
  content: "";
  position: absolute;
  background-image: url(../images/second.png);
  background-position: bottom;
  background-repeat: no-repeat;
  opacity: 40%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.language-section .container .row .third_child::after{
  content: "";
  position: absolute;
  background-image: url(../images/last.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 40%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  z-index: -1;
}

.lang-card{
  
  box-shadow: 0 2px 8px black;
  margin-left: 0 !important;
  
  
  
 
}
.lang-card p{
  margin-top: 20px;
  margin-left: 15px;
  z-index: 5;
}
.lang-card h3{
 
  margin-left: 14px;
  z-index: 5;
}
.margin_adjuster{
  margin-left: 100px !important;
}

@media (max-width: 576px) {
  .col-sm-6 {
    margin-left: 10px; 
  }
  .margin_adjuster{
    margin-left: 0px !important;
  }
  .language-section .container .row div{
    margin-left: 20px !important;
  }
  .language-section .container{
    margin: 0 0px 0 0px !important;
  }

}

@media (max-width: 768px) {
  .col-md-4 {
     /* Custom width for medium screens */
  }
  .last_box_margin_adjustor{
    margin-left: 20px !important;
  }
  .language-section .container .row{
    justify-content: center;
  }
}