#nav_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    position: fixed;
    padding: 15px 50px;
    width: 100%;
    z-index: 1000;
    top: 0;
}

body{
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.header-logo img {
    height: 50px;
}

.header-logo {
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 10px;
}

 #nav_section nav{
    align-items: center;
    display: flex;
}


#nav_section nav .cus_header {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: auto;
    background-color: transparent;
}

#nav_section nav .cus_header li {
    margin: 0 15px;
}

#nav_section nav .cus_header li a {
    text-decoration: none;
    color: #b22222;
    font-weight: bold;
    font-size: 14px;
}

#nav_section nav .head_right ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin: auto;
    gap: 15px;
}

#nav_section nav .head_right li a{
    text-decoration: none;
    color: #b22222;
    font-weight: bold;
    font-size: 14px;
}