*{
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

#Our-Vision .text-content {
    padding: 40px;
}

#Our-Vision .styled-line {
    border: none;
    height: 2px;
    background: black;
    width: 50px;
    margin: 10px 0;
}

#Our-Vision .blockquote {
    font-style: italic;
    color: #6c757d;
    font-size: 15px;
    margin-top: 30px;
    letter-spacing: 1.5px;
}
#Our-Vision .spacings{
    margin-top: 20px;
    margin-left: 0;
}

#Our-Vision .img-fluid {
    border-radius: 8px;
}

#Our-Vision .container img{
    height: 60vh;
    /* width: auto; */
    margin: 0 auto;
    justify-content: flex-end;
}

#Our-Vision .container .our-vision-image{
    justify-content: flex-end;
    width: 500px;
    /* border: 2px solid black; */
}


#Our-Vision .container .our-vision-text{
    height: 500px;
    padding: 70px;
    padding-left: 0;
    margin-left: 70px;
    font-size: 20px;

}

#Our-Vision .container .row{
   justify-content: center;
}

#Our-Vision .container{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 70px;
}

#Our-Vision .container .our-vision-text h2{
    font-size: 40px;
}

#Our-Vision .container .our-vision-text em{
font-size: 18px;
font-family: 'Charm', sans-serif ;
}
